## ignore para las rutas de proyecto3

#User Files
*.user

[Ii]nter/
[Ee]xes/!plugins.cfg
[Ee]xes/!plugins_d.cfg
[Ee]xes/
[Dd]ependencias/ogre-1.11.5/Build/
[Cc]make-3.14.0-rc1-win64-x64/

##.vs generado de visual
.vs/


